/**最外层**/
.wrap_list { width: 840px; margin: 0 auto; font-family: "微软雅黑"; }

/**new_one**/
.new_one { width: 818px; padding-left: 20px; height: 38px; line-height: 38px; color: #666; background-color: #f8f8f8; border: 1px dashed #dfdfdf; margin-bottom: 10px; }

/**list_1f**/
.list_1f { width: 810px; padding-left: 30px; height: 34px; line-height: 34px; font-size: 16px; font-family: "微软雅黑"; color: #8cb91d; position: relative; border-bottom: 1px solid #dfdfdf; }
.list_1f b { width: 6px; height: 16px; position: absolute; left: 14px; top: 10px; background: url(../images/list_allimgs.png) no-repeat 0 -181px; }

/**new_two**/
.new_two { width: 840px; height: 30px; line-height: 30px; margin-top: 10px; z-index: 100; }
.new_two .nt_one { display: inline; width: 182px; height: 30px; line-height: 30px; float: left; color: #666; border: none; padding-left: 8px; background: url(../images/list_allimgs.png) no-repeat 0 -252px; }
.new_two .nt_two { display: inline; margin-left: 10px; width: 64px; height: 30px; float: left; background: url(../images/list_allimgs.png) no-repeat -341px -252px; border: none; cursor: pointer; *position: absolute; *right: 150px; }
.new_two .nt_three { display: inline; z-index: 100; float: left; margin-left: 135px;}
.nt_four { display: inline; floa t:left;margin-left: 15px; }
.new_two .nt_four { margin-left: 136px; }
.new_two .nt_three { position: relative; width: 142px; height: 30px; background: url(../images/list_allimgs.png) no-repeat -413px -252px; cursor: pointer; }
.nt_three input { width: 72px; padding-left: 8px; height: 30px; line-height: 30px; border: none; color: #666; background-color: transparent; cursor: pointer; }
.nt_three .nt_ul1 { display: none; width: 140px; overflow: hidden; z-index: 1000; border: 1px solid #ccc; border-top: none; border-bottom: none; position: absolute; left: 0px; top: 26px; }
.nt_ul1 li { width: 140px; padding-left: 8px; height: 30px; line-height: 30px; background-color: white; border-bottom: 1px solid #ccc; }
.nt_ul1 li.active { background-color: #ccc; }

/**list_2f**/
.list_2f { width: 840px; margin-top: 10px; position: relative; z-index: 99; }

/**list_2f_1f**/
.list_2f .l2f_1f { height: 40px; position: relative; z-index: 100; }
.l2f_1f .l2f_1f_left { width: 485px; height: 40px; float: left; }
.l2f_1f .l2f_1f_left1 { width: 606px; height: 40px; float: left; _overflow: hidden;}
.l2f_1f .l2f_1f_left2 { width: 728px; height: 40px; float: left; background: url(../images/list_allimgs.png) no-repeat 0 -133px; }
.l2f_1f ul { width: 730px; height: 40px; }
.l2f_1f li { width: 121px; line-height: 40px; float: left; display: inline; text-align: center; cursor: pointer; position: relative; font-size: 16px; background: url(../images/list_allimgs.png) no-repeat -276px 12px; }
.l2f_1f .active { color: #418700; width: 122px; height: 40px; background: url(../images/list_allimgs.png) no-repeat -122px 5px; cursor: default; }

/**list_2f_2f**/
.list_2f .l2f_2f { height: 11px; border-top: 1px solid #e1e1e1; position: relative; z-index: 99px; margin-top: -1px; }
.list_2f .l2f_2fin { height: 42px; background-color: #f5f5f5; position: relative; _margin-top: -10px; }
.l2f_2fin ul { width: 840px; height: 18px; color: #666; font-size: 14px; margin-top: 3px; padding: 12px 0; }
.l2f_2fin .w291 { width: 342px; border-right: 1px solid #f5f5f5; text-align: left; padding-left: 10px; }
.l2f_2fin .w83 { width: 83px; border-right: 1px solid #f5f5f5; }
.l2f_2fin .w128 { width: 128px; border-right: 1px solid #f5f5f5; }
.l2f_2fin .w78 { width: 140px; border-right: 1px solid #f5f5f5; }
.l2f_2fin .w148 { width: 148px; border-right: 1px solid #f5f5f5; }
.l2f_2fin .w106 { width: 106px; }
.l2f_2fin li { float: left; line-height: 18px; display: inline; text-align: center; }

.outer { display: table;/* overflow: hidden;*/ vertical-align: middle; width:137px;}
.middle { display: table-cell; vertical-align: middle; }
.outer { *position: relative;}
.inner .color_01{ *padding-left:46px;}
.jh01 .middle, .jh02 .middle{ *position: absolute; *top: 50%; *left:10px;}
.jh01 .inner, .jh02 .inner{ *position: relative; *top: -50% ;}


/**list_2f_3f**/
.list_2f .div_popup { position: relative; }
.div_none { width: 820px; padding-left: 20px; height: 26px; line-height: 26px; margin-top: 10px; }
.div_none a { color: #8cb91e !important; }
.list_2f .l2f_3f { width: 838px; border: 1px solid #e5e5e5; margin-top: 14px; clear: both; }
.l2f_3f .l2f_3f_title { position: relative; }
.l2f_3f .l2f_3f_title .toubao img { padding-left: 40px; vertical-align: middle; }
.l2f_3f_title .title_li01 span { color: #2c8900; }
.l2f_3f .l2f_3f_detail { width: 838px; clear: both; }
.l2f_3f .l2f_3f_title .live800 { position: absolute; left: 720px; top: 10px; }/*在线咨询 */
.l2f_3f .l2f_3f_package .live800 { position: absolute; left: 720px; margin-top: 4px; *top:5px;}/*包裹在线咨询 */

/***************************************************************************/
.l2f_3f_detail .ul1 { /*width:838px;*/ font-size: 12px; }
.l2f_3f_detail .w291 { width: 342px; padding: 0 10px; border-right: 1px solid #e5e5e5; }
.w291 .ul2 { width: 342px; overflow: hidden; margin-top: 5px; _width: 282px; }/*0606*/
.w_add .ul2 { overflow: hidden; border-bottom: 1px solid #f8f8f8; margin-top: 5px; }/*新增0606*/
.ul2 li { width: 60px; height: 60px; overflow: hidden; margin-bottom: 10px; margin-right: 10px; }
.ul2 li img { width: 60px; height: 60px; border: 0px; overflow: hidden; }
.l2f_3f_detail .w83 { width: 66px; height: 90px; line-height: 90px; border-right: 1px solid #e5e5e5; }
.l2f_3f_detail .w128 { width: 137px; text-align: center; border-right: 1px solid #e5e5e5; }
.w128 .c_#f8f8f8 { color: #e9001c; font-weight: bold; }

/***************************************************************************/
.l2f_3f_detail .w78 { width: 139px; border-right: 1px solid #e5e5e5; position: relative; z-index: 0; }
.w78 .b1 { display: none; width: 10px; height: 23px; position: absolute; left: 10px; top: 90px; background: url(../images/list_allimgs2.png) no-repeat -665px -307px; }
.w78 .pop_1 { display: none; width: 447px; border-top: 1px solid #e5e5e5; padding: 0 0 13px 0; position: absolute; left: -440px; top: 79px; background-color: #fff; z-index: 99999; }
.pop_1 .pop_1f { height: 40px; line-height: 40px; border-bottom: 1px solid #e5e5e5; }
.pop_1 p { text-align: left; clear: both; line-height: 22px; position:relative;padding: 0px 0 6px 0px;margin-left:35px; color: #606060;}
.pop_1 .s_1 {  width: 375px;padding-left:30px; font-weight: normal; display: block;}
.pop_1f .b2 { width: 10px; height: 9px; float: left; background: url(../images/list_allimgs.png) no-repeat -25px -294px; margin-top: 11px; margin-left: 114px; cursor: pointer; }
.pop_1f .pop_1f_left { width: 300px; float: left; text-align: left; }
.pop_1 .span3 { width: 375px; display: block; padding-left:30px;line-height: 16px; line-height: 22px; }
.pop_1f_left span { width: 70px; color:#e30000;}
.pop_1f_left .span1 { margin-left: 30px; font-size:15px;}
.pop_1f_left .span2 { margin-left: 114px; }

.pop_borderl {position:absolute;top:74px;left:34px; border-left: 1px solid #e5e5e5;}

.l2f_3f_detail .w148 { width: 148px; border-right: 1px solid #f8f8f8; }
.l2f_3f_detail .w106 { width: 128px; *z-index:2;}
.l2f_3f_detail .w106 a { text-decoration: none; margin-bottom: 10px; *margin-bottom: 1px;}
.l2f_3f_detail .w106 a:hover { text-decoration: none; color: #2c8900;}
.l2f_3f_detail .w106 p a:hover { text-decoration: underline; }
/* .l2f_3f_detail .jh03 { padding-top:10px;} */
.w106 .p1 { color: #2c8900 !important; }
.w106 .p2 { color: #f39800 !important; }
.w106 .p3 { color: #8b8a8a !important; cursor: text; }
.l2f_3f_detail .detail_left li { float: left; text-align: center; }

.conqu_order { position: relative; left: -620px; top: -50px; z-index: 999; }
.node-icon { position: absolute; top: 50%; left: -4px; width: 7px; height: 7px; background: url(../images/list_allimgs2.png) no-repeat -21px -276px; }
.pop_1 .first {/* padding-top: 10px;*/ line-height: 16px;color: #2c8900; }
.pop_1 .first .node-icon { background: url(../images/list_allimgs2.png) no-repeat 0 -276px !important; top: 18px}


/**列表各个调节**/
.text_left { text-align: left; margin-left: 12px; }
.text_left1 { text-align: left; margin-left: -35px; }
.text_left2 { text-align: left; }
.w106 .text_color { color: #f39800 !important; }
.font_white { color: #e30000; width: 88px; height: 24px; line-height: 24px; background: url("../images/order02.png") no-repeat scroll 0 -33px; margin-right: 3px; cursor: pointer;}
.paybtn { color: #e30000; width: 88px; height: 24px; line-height: 24px; background: url(../images/order02.png) no-repeat 0 -33px; margin:13px 10px 13px 9px; cursor: pointer; border: 0; }
.paybtn {*margin:0px 0 0px 20px !important;} /*IE67兼容*/
.font_commit { color: white; width: 60px; height: 24px; line-height: 24px; background: url(../images/list_allimgs.png) no-repeat -164px -286px; margin: 0 auto; cursor: pointer; }
.wrap_list .date_input { float: left; margin-left: 10px; color: #666; border: none; padding-left: 30px; width: 90px; height: 26px; line-height: 26px; background: url(../images/list_allimgs.png) no-repeat -207px -252px; cursor: pointer; }
.new_two span, .new_two span { float: left; }

/**服务评价**/
.access_popup { width: 300px; padding: 8px 6px 6px 8px; background-color: #fff; border: #80b00c 1px solid; position: absolute; top: 35px; right: 0px; z-index: 3; display: none; line-height: 20px; text-align: center; }
.access_popup a { color: #898989; }
.access_popup .close { width: 10px; height: 9px; background: url(../images/list_allimgs.png) no-repeat -141px -292px; float: right; margin-right: 3px; cursor: pointer; }
.top_img { width: 9px; height: 6px; display: block; background: url(../images/20120311_cart.png) -19px -229px no-repeat; position: absolute; top: 30px; right: 23px; z-index: 9999; display: none; }
.access_a, .access_a_xy { margin-right: 15px; }
.access_line { margin-top: 15px; line-height: 23px; _height: 25px; _line-height: 25px; margin-left: 20px; }
.access_line .access_tit { float: left; color: #494949; padding-right: 8px; }
.access_line .access_input { float: left; padding-right: 8px; }
.access_line .advise_num { bottom: 9px; color: #8B8A8A; font-size: 14px; height: 16px; position: absolute; right: 30px; width: 26px; }
.access_button { text-align: center; margin-top: 10px; }
.access_button a {
text-decoration:none !importain; color: white; }
a.remark_star { width: 29px; float: left; cursor: pointer; }
a.remark_star img { width: 19px; height: 18px; padding-top: 1px; }
.access_line .advise { padding: 0px; width: 260px; height: 75px; overflow: hidden; margin-left: -15px; display: inline-block; background: #fff; border: 1px solid #E1E1E1; resize: none; color: #C9C9C9; font-size: 12px }

/*分页*/
.pglist_page{ bottom: -10px;position: relative;right: 11px;}
.page{ position:absolute; right:0; top:0; height:30px;}
.page .page_l{ float:left;}
.page .page_l a{ width:30px; height:30px; display:block; float:left; margin-right:10px; text-align:center; font-family:"Microsoft YaHei"; line-height:30px; background:#f8f6f7; border:1px solid #d2d2d2;}
.page .page_l a b{ display:inline-block;vertical-align: middle;font: 400 13px/13px simsun; width:7px; height:13px}
.page .page_l a.prev{ background: url(../images/pageicon.jpg) no-repeat 0 0; font-weight:100; width:50px; height:30px; text-align:left; padding-left:20px;}
.page .page_l a.next{ background: url(../images/pageicon.jpg) no-repeat 0 -32px;font-weight:100; width:50px; height:30px; text-align:right; padding-right:20px;}
.page .page_l a:hover{ color:#2c8900; text-decoration:none;}
.page .page_l a.select{ background:#fff; color:#2c8900}
.page .page_l a.select:hover{color:#2c8900; text-decoration:none;cursor:default}
.page .page_m{ float:left; padding-left:15px; padding-top:6px}
.page .page_m span{ font-weight:bold; color:#757575;}
.page .page_m_2{ float:left; padding-top:6px; padding-left:15px}
.page .page_m_3{ float:left; padding-left:2px; padding-right:2px}
.page .page_m_3 input.page_input{ background:#f8f6f7; width:30px; height:30px; border:1px solid #d2d2d2; text-align:center; line-height:30px; padding:0}
.page .page_m_4{ float:left; padding-top:6px}
.page .page_r{ padding-left:12px; float:left}
.page .page_r input{  background: url(../images/pageicon.jpg) no-repeat 0 -66px; width:70px; height:30px; border:1px solid #d2d2d2; cursor:pointer; border:1px solid #d2d2d2; color:#d2d2d2}

.huihis_seainp2 { z-index: 100 !important; }
.huihis_seainp1 { z-index: 100; }
.huihis_seainp1 input, .huihis_seainp2 input { float: left; margin-left: 10px; color: #666; border: none; padding-left: 30px; width: 90px; height: 30px; line-height: 30px; background: url(../images/list_allimgs.png) no-repeat -207px -252px; cursor: pointer; }
.huihis_seainp1 span, .huihis_seainp2 span { float: left; }

/*begin 添加到购物车弹出层*/
.addTC_box { width: 355px; overflow: hidden; }
.addTC_box .shadow1 { float: left; width: 3px; margin-top: 3px; background: #000; margin-bottom: -1000px; padding-bottom: 1000px; overflow: hidden; filter: alpha(opacity=30); opacity: 0.3; }
.addTC_box .shadow2 { height: 3px; margin: 0 3px; background: #000; clear: both; filter: alpha(opacity=30); opacity: 0.3; overflow: hidden; }
.addTC_box .addTC { width: 350px; border: 1px solid #85BE19; float: left; background: #fff }
.addTC .top { position: relative; height: 24px; line-height: 24px; background: url(../images/addtc_gou.gif) 5px 4px no-repeat #95CF45; text-align: left }
.addTC .top span { color: #ff0000; padding-left: 28px; }
.addTC .top i { display: block; position: absolute; top: 4px; right: 6px; width: 13px; height: 13px; background: url(../images/addtc_close.png); cursor: pointer; }
.addTC .box { text-align: center; font-family: Verdana; padding-bottom: 10px; }
.addTC .box .txt { padding-top: 10px; }
.addTC .box .txt span { color: #c00; }
.addTC .box .btn { margin-top: 10px; }
.addTC .box .btn a { display: inline-block; width: 100px; height: 25px; line-height: 25px; background: url(../images/addtc_btn.gif) no-repeat; text-align: center; color: #000; }
.addTC .box .btn a:hover { color: #070; }
/*end 添加到购物车弹出层*/

/*new_m_lin*/
.sell_m1 { float: left; width: 105px; padding-left: 7px; }
.sell_m3 { display: inline-block; float: left; width: 105px; color: red; }
.sell_con { float: left; margin-left: 17px; }
.sell_m2 { float: left; margin-left: 12px; width: 50px; }
.sell_m1 img { float: left; margin-left: 4px; margin-top: 2px; }
.signadv { float: left; }
.signadv img { margin-left: 30px; }
.overadv { float: left; }
.overadv img { margin-left: 25px; }
em.shan_icon { background: url(../images/list_allimgs.png) no-repeat -237px -288px; width: 16px; height: 16px; display: inline-block; margin: 0 8px 0 8px; vertical-align: middle; }
em.timered {}
.everydayFresh_icon { color: #e9001c; }
.surecheck a { color: red; }

/* 取消弹出框 */
.cancelbtn { width: 100%; position: relative; z-index: 1; text-align: center }
.cancel_popup { width: 100px; padding: 8px 6px 6px 8px; background-color: #fff; border: #80b00c 1px solid; position: absolute; top: 30px; right: -1px; z-index: 1000; display: none; }
.cancel_popup .cancel_title { color: #898989; }
.cancel_popup .cancel_title input { width: 50px; text-align: center; border: 1px solid #ccc }
.cancel_popup a { color: #898989; }
.cancel_popup a:hover { color: #ff961c; text-decoration: underline; }
.cancel_a, .cancel_a_xy { margin-right: 15px; }
.top_img { width: 9px; height: 6px; display: block; background: url(../images/20120311_cart.png) -19px -229px no-repeat; position: absolute; top: 20px; right: 23px; z-index: 1000; display: none; }
.zpyh_cancel { right: 13px; }
.zpyh_cancel_1 { top: -15px; right: -20px; }
.spe_img { right: 40px; }
.alert-popup { position: fixed; top: 20%; width: 420px; z-index: 999999; }
.mengniu-popup-imagepath { background: none repeat scroll 0 0 #8cb91e; overflow: hidden; position: fixed; top: 20%; left: 110px; width: 593px; height: 419px; display: none; z-index: 100; border: 4px solid #8cb91e; }
.mengniu-popup-imagepath i { display: block; position: absolute; top: 4px; right: 6px; width: 13px; height: 13px; background: url(../images/addtc_close.png); cursor: pointer; }
.mengniu-popup-imagepath img { width: 593px; height: 419px; }

/*订单跟踪 */
.o-status { position: relative; z-index: 1;}
.o-right { position: absolute; }
.o-left { position: relative; z-index: 3; overflow: hidden }
.o-left span { display: inline-block; width: 68px; margin-top: 4px; cursor: pointer; background: #f8f8f8; }
.o-left span.hover { border: 1px solid #e8e8e8; padding: 4px 1px 4px 9px; border-right: 0px; }
.o-right { left: 81px; z-index: 2; top: 4px; width: 230px; padding-left: 15px; padding-bottom: 8px; border: 1px solid #e8e8e8; background: #fff; display: none; }
.o-right.active { display: block; }
.o-right p { height: 24px; line-height: 24px; }
.o-right ul li, .o-right ul li img { float: left; width: 60px; height: 60px; overflow: hidden }
.o-right ul li { margin-right: 15px; margin-bottom: 10px }

/*20160612 add*/
.l2f_1f li span { color: #e30000; }
.l2f_3f_title_ul { height: 40px; line-height: 40px; background-color: #f8f8f8; font-size: 14px; padding-left: 10px; border-bottom: solid 1px #e5e5e5; }
.l2f_3f_title_ul li { float: left; }
.l2f_3f_title_ul .title_li01 { width: 258px; }
.l2f_3f_title_ul .title_li02 { width: 226px; }
.l2f_3f_title_ul .title_li03 { width: 214px; }
.l2f_3f_detail .dl2 { padding: 15px 0; overflow: hidden; }
.l2f_3f_detail .dl2 dt { float: left; width: 60px; height: 60px; }
.l2f_3f_detail .dl2 dt img { width: 60px; height: 60px; }
.l2f_3f_detail .dl2 dd { float: left; width: 272px; margin-left: 10px; height: 48px; overflow: hidden; padding: 6px 0; line-height: 24px; text-align: left; }
.detail_left { width: 430px; }
.detail_left ul { overflow: hidden; border-bottom: solid 1px #e5e5e5; }
.c_red { color: #e30000; }
.list_time { text-align: left; height: 24px;}
.list_page { text-align: left; cursor: pointer; }
.list_page a:hover { color: #2c8900;}
.list_page .border_left {position: absolute; left: -1px; border-left: 1px solid rgb(229, 229, 229); top: 25px; height: 30px;}
.list_time span { width: 13px; height: 13px; float: left; margin: 6px 7px 0 15px; background: url(../images/order02.png) no-repeat; }
.list_page { text-decoration: none !important; display: block; text-align: center; background: url(../images/order02.png) no-repeat 23px -126px; *padding-left:46px;}
.list_page:hover { color: #2c8900; background: url(../images/order02.png) no-repeat -141px -126px; }
.topaybtn a { display: block; width: 88px; height: 24px; margin: 0 auto; line-height: 24px; }
.topaybtn .forpay { color: #e30000; background: url(../images/order02.png) no-repeat 0 -33px; }
.topaybtn .forpay:hover { color: #fff !important; background: url(../images/order02.png) no-repeat -91px -33px; }
.topaybtn .offorder { color: #656565; background: url(../images/order02.png) no-repeat 0 -58px;}
.topaybtn .offorder:hover, .title_li04 .offorder:hover { text-decoration: none; color: #2c8900; background: url(../images/order02.png) no-repeat -91px -58px; }
.title_li04 .offorder { margin: 7px auto 13px !important; }
.jh01 p {line-height: 24px;}
.jh02 { line-height: 24px; }
.detail_left ul:last-child { border: none; }
.title_li04 { width: 130px; }
.div_popup .offorder { display: block; width: 88px; height: 24px; line-height: 24px; color: #656565; background: url(../images/order02.png) no-repeat 0 -58px; text-align: center;}
.l2f_3f_title02 { height: 40px; line-height: 40px; background-color: #f5f5f5; padding-left: 10px; }
.l2f_3f_title02 span { width: 698px; height: 40px; display: inline-block; overflow: hidden; }
.l2f_3f_title02 a { width: 130px; display: inline-block; float: right; color: #202020; font-size: 14px; text-align: center; }
.l2f_3f_title02 a:hover { color: #2c8900; }
.l2f_3f_package { height: 30px; line-height: 30px; font-size: 14px; border-bottom: 1px solid #e5e5e5; }
.package-tleft { padding-left: 10px; }
.package-tleft a { color: #2c8900; }
.package-tright { width: 130px; text-align: center; }
.package-tright a { display: block; font-size: 12px; color: #e30000; background: url(../images/order02.png) no-repeat -23px 6px; }
.topaybtn .rush { margin-top: 20px; color: #2c8900; background: url(../images/order02.png) no-repeat 0 -92px; }
.topaybtn .rush:hover { color: #fff !important; background: url(../images/order02.png) no-repeat -91px -92px; }
.deal_close { height: 48px; line-height: 48px; }
.title_li04 .package-tright a { background-position: -23px 10px !important; }
/*.jh03 p { height: 10px; }*/
.jh03 .topayimg p{ height: 24px; }
.package02 { border-top: 1px solid #e5e5e5; }
.title_li01 a:hover { color: #2c8900 !important; }
.l2f_3f_detail .dl2 dd a:hover { color: #2c8900 !important; }
.detail_right li{ text-align:center; float:left;}


/*无货状态*/
.no_goods { width: 350px; height: 113px; margin: 112px auto 0; }
.no_goods dl { overflow: hidden; font-size: 18px; }
.no_goods dt { float: left; width: 90px; height: 105px; }
.no_goods dd { float: left; margin: 24px 0 0 34px; line-height: 32px; }
.goindex { color: #a5a5a5; }
.goindex a { color: #2c8900; }

/*跟踪*/
.pop_1{ width:447px; border-top:solid 1px #e5e5e5; }
.border_r{ position:absolute; right:-12px; top:0; width:12px; height:58px; background:url(../images/border_r01.png) no-repeat;}
.border_r2{ position:absolute; right:-12px; top:58px; width:12px; background:url(../images/border_r02.png) repeat-y;}
.border_b{ position:absolute; left:-7px; bottom:-17px; width:464px; height:17px; background:url(../images/border-bttom.png) repeat-x;}
.border_l{position:absolute; left:-12px; top:0; width:12px; background:url(../images/border_l.png) repeat-y;}