

#login a span{
    font-size: 0.4rem;
}

#login h3{
    text-align: center;
    font-size: 0.5rem;
    margin: 0.5rem;
}

#login form .input-group{
    margin: 0.25rem 0;
}

.has-error{
    margin-left:2rem;
    font-size:0.35rem;
    color: #e62e2e;
    display: none;
}
#MSG{
    font-size: 10px;
    color: #c7254e;
}
