<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>我的收货地址</title>
    <link rel="stylesheet" type="text/css" href="/static/address/css/address.css">
    <link href="/static/address/css/msgbox.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" language="javascript" src="/static/address/js/jquery.js"></script>
    <script type="text/javascript" language="javascript" src="/static/address/js/jquery.form.js"></script>
    <script type="text/javascript" language="javascript" src="/static/address/js/jquery-impromptu.1.3.js"></script>
    <script type="text/javascript" language="javascript">
      var frontPath="";
    </script>
    <script type="text/javascript" language="javascript" src="/static/address/js/address.js"></script>
  </head>
  <body>
    <div class="usercenter_address">
    	<h2 class="header"><span></span>收货地址</h2>
        <ul class="content">
         <li id="defalutAddress" class="adds old_add_default"></li>
         
            <input type="hidden" value="20868010" id="defalutAddressId">
        	<li class="adds old_add" id="old_add_20868010">
            	<div class="name_infor">
                	<div class="name_etc">
                    	<span class="name" title="哈哈">哈哈</span><span>收</span><span>187****9641</span><span class="default_add">默认地址</span>
                    </div>
                    <ul class="btns">
                        <li class="delete"><a href="javascript:;" onClick="addrDel(20868010);return false;" class="myad_s2">删除</a></li>
                        <li class="edit"><a href="javascript:;" onClick="update(20868010);return false;" class="thickbox myad_s1">编辑</a></li>
                        <li class="set_default"><a href="javascript:" onclick="updateDefaultAddress('203835','20868010','哈哈','高新六路立人科技','187****9641','****','1');">设为默认</a></li>
                    </ul>
                </div>
                <div class="add_infor">
                    <strong class="add_city"><span>陕西省</span><span>西安市</span><span>雁塔区</span></strong>
                	<strong title="高新六路立人科技">高新六路立人科技</strong>
                	<strong class="unit">单位</strong>
                </div>
            </li>
         
         <li class="addnew_add">
             <ul>
                 <li class="addpic"></li>
                 <li class="addnew_text">添加新地址</li>
                 <!-- <li class="left_num">还可创建16个</li> -->
             </ul>
         </li>
        </ul>
    </div>
    <div id="addDIV"></div>     <!-- 添加页面 -->
    <div id="updateDIV"></div>  <!-- 修改页面 -->
  </body>
  </html>
