<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>我的购物车_中粮我买网</title>
    <link rel="stylesheet" type="text/css" href="/static/cart/css/checkoutcommon.css"/>
    <link rel="stylesheet" type="text/css" href="/static/cart/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/static/cart/css/cart.css"/>
    <script type="text/javascript" src="/static/cart/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/static/cart/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/cart/js/passportback.js"></script>
    <script type="text/javascript" src="/static/cart/js/arrivalnotice.js"></script>
    <script type="text/javascript">var mid = "0";
    var cityid = "31000";
    var webIndex = "green2012";
    var frontPath = "";
    var priceServer = "http://price.womai.com/PriceServer";
    var wineServer = "http://jiu.womai.com";
    var sellerServer = "http://zs.womai.com";
    var picPrefix = "http://pic2.womai.com/upload/";
    var staticPrefix = "http://static.womai.com";
    var includeFlashbuy = "false";
    var isMobileValidated = "true";
    var isNeedMobileCertification = "false";
    var columnName = "生鲜食品";
    var checkoutAddressName = "";
    </script>
    <script type="text/javascript" src="/static/cart/js/checkoutcommon.js"></script>
    <script type="text/javascript" src="/static/cart/js/cart.js"></script>
    <script type="text/javascript" src="/static/cart/js/recommend_infosmart.js"></script>
    <script type="text/javascript" src="/static/cart/js/recommend_all.js"></script>
    <script type="text/javascript" src="/static/cart/js/recommend_cart_new.js"></script>
</head>
<body>
<div class="cart_content">
    <div id="header" class="m">
        <div class="w">
            <ul class="fr">
                <li class="myaccount" id="myaccount" data-first="y"><a
                        href="/Member/index.jsp?mid=0&tt=0.3774874180135763" class="ian white">我的账户</a><i></i><i
                        class="accountpng" id="topaccountpng" style="display:none"></i>
                    <div id="myaccount_cont" class="myaccount_cont loadding"></div>
                </li>
            </ul>
            <ul class="fr" id="top_login_span">
                <li class='none'><span class='nickname'>哈拉嘿呦</span></li>
                <li class='none'><a href='/Member/Exit.do?mid=0'>退出</a></li>
            </ul>
        </div>
    </div>
    <div class="header_div w">
        <div class="logo_a"><a href='http://www.womai.com' target='_blank'><img data-order="100"
                                                                                src='/static/cart/picture/2018042510164955.png'
                                                                                width='210' height='80' alt='返回首页'
                                                                                border='0'/></a></div>

    </div>
    <script type="text/javascript" src="/static/cart/js/commonalert.js"></script>
    <link type="text/css" rel="StyleSheet" href="/static/cart/css/commonalert.css"/>


    <div class="trip_div">
        <div class="trip_content"><span class="tc_left">我的购物车</span></div>

        <div class="delivery-tip fl">
            <div class="delivery-tit fl">送至：</div>
            <div id="loadRegion" class="addr_select fl"></div>
            <div class="clear"></div>
            <script type="text/javascript">loadArealist(0, 1);</script>
        </div>


        <a href="/index-31000-0.htm" class="fr">继续购物></a>
        <div class="clear"></div>
    </div>
    <div class="shopping_cart">
        <div class="order_nav">
            <ul class="fl">
                <li data-curtab="1" data-tab="1" data-index="1" data-cartids="1" data-mid="0" class="hover_li"><strong>我买网发货单(<em
                        id="loadshowcart1_carttitle_totalamount">2</em>)</strong><span>我买网发货单(<em
                        id="loadshowcart1_carttitle_totalamount">2</em>)</span></li>
                <script type="text/javascript">orderNavHover();</script>
            </ul>
            <div id="j-totalwithdeliveryrule" class="fr"></div>
            <div class="clear"></div>
        </div>
        <div class="order_contents">
            <div class="crossordertip">
                <div>1.海外仓运费25元（购满199免运费），国内保税仓运费10元（购满99元免运费)；</div>
                <div>2.跨境购不同仓的商品需要分开结算，给您造成不便敬请谅解。</div>
            </div>
            <div class="ordercont_titleline">
                <div class="odct_title ordercon_title1">商品</div>
                <div class="odct_title ordercon_title2">单价</div>
                <div class="odct_title ordercon_title3">数量</div>
                <div class="odct_title ordercon_title5">小计</div>
                <div class="odct_title ordercon_title6">操作</div>
                <div class="clear"></div>
            </div>
            <div class="ordercont_content" data-first="n" style="display:block">


                <div id="loadshowcart1">


                    <input id="j-relationFreeConfig1" type="hidden" data-mid="0" data-type="2" data-sellerid="0"
                           value=""/>


                    <div class="ordercont_content_cw">


                        <div class="coupontip">

                        </div>



                        <div class="ordercont-cw-con">

                            {# 订单信息 #}
                            <div class="content_type content_type1 content_type_zp">

                                <div class="ct1 contype1_cont1 ct_zp">
                                    <div>

                                        <input id="sel616969" type="checkbox" class="fl" name="content-check1"
                                               checked="checked" issel="1"
                                               onclick="selectCartItem(1,0,616969,0,100,1,96);"/>

                                        <a href=""
                                           class="img_a">
                                            <img src="/static/cart/picture/616969_0_pic60_390.jpg"/>
                                        </a>
                                        <div class="contype1_cont1_cent fl">


                                            <span style="color: black">


                                                惠享【自营】[安萃]进口红心火龙果5枚 盒装2000g，细腻鲜嫩，入口爽滑，红艳欲滴，清甜爽...

                                            </span>


                                            <div class="sevendays-preference">


                                                <div class="clear"></div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="clear"></div>


                                </div>


                                <div class="ct1 contype1_cont2">


                                    ￥39.80


                                </div>

                                <div class="ct1 contype1_cont3">


                                    <div id="p_dec1_0" class="oper_goods reduce_g"
                                         onclick=""></div>
                                    <div id="p_dec_disabled1_0" class="oper_goods reduce_g" style="display:none"></div>

                                    <div class="input_goods" id="input_goods_1_0_616969">
                                        <input id="amount1_0_616969" value="1" class="item_amount"/>
                                        <input type="hidden" id="oldAmount1_0_616969" value="1"/>
                                        <input type="hidden" id="isPromotion1_0_616969" value=""/>
                                        <span class="restr_arrow"></span>
                                    </div>

                                    <div id="p_add1_0" class="oper_goods plus_g"
                                         onclick=""></div>
                                    <div id="p_add_disabled1_0" class="oper_goods plus_g" style="display:none;"></div>
                                    <div class="clear"></div>
                                </div>

{#                                <div class="ct1 contype1_cont4">#}
{##}
{##}
{#                                    2#}
{#                                </div>#}


                                {# 小计 #}
                                <div class="ct1 contype1_cont5"><span>￥39.80</span></div>
                                {# 删除订单 #}
                                <div class="ct1 contype1_cont6">
                                    <div class="fath_div_1">
                                        <a onclick="" href="" data-id="1"
                                           data-mid="0" data-productid="616969">删除</a>
                                        <span class="top_img"></span>
                                    </div>
                                </div>

                                <div class="clear"></div>
                            </div>



                                    <div class="cont j-relationFree1 relationFree" id="j-relationFree1"></div>



                                </div>

                            </div>

                        </div>
                        <div class="clear"></div>
                    </div>


                    <input type="hidden" value="" name="hasActivityCart"/>
                    <input type="hidden" value="0" name="cartMid"/>
                    <input type="hidden" value=",1" name="payCartIds1" id="payCartIds1"/>
                    <input type="hidden" value="2" name="carttitle_totalamount_val"/>
                    <input type="hidden" value=",616969,651123" name="productids_fresh"/>
                    <input type="hidden" value="" name="productids_notfresh"/>


                    <div class="order_amount">
                        <div class="fl">

                            <div class="ordercont_edit">
                                <div class="ordercont_allcheck fl">
                                    <input type="checkbox" id="all_two1" class="checkall" cartids="1" checked="checked"
                                           onclick="selectAllCartItem('all_two1',0);"/>
                                    <label for="all_two1">全选</label>
                                    <div class="clear"></div>
                                </div>
                                <div class="pos fl">
                                    <a href="javascript:void(0);" id="delSelCartItems1" cartids="1" todel="1"
                                       onclick="delSelectedCart(0,1);" class="delete_all">删除</a>
                                    <span class="top_img"></span>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="oal_img"></div>

                            <div></div>


                        </div>

                        <div class="ordam_right">


                            <div class="ordam-total">
                                <span class="num fl">已选 <em>2</em> 件</span>
                                <script type="text/javascript">synchronousNavAmount(2); // 同步当前标题商品数量</script>
                                <span id="j-totaltopay1" class="oar-money-total fl">￥63.60</span>
                                <span class="oar_title-total fl">应付金额：</span>
                                <div class="clear"></div>
                            </div>
                            <div class="btn">
                                <a href="javascript:topay(true,'cofcocheck');" class="fl topay topay1" data-first="y"
                                   topay="1" id="cofcocheck">去结算</a>
                                <div class="clear"></div>
                            </div>
                        </div>



                        <div class="clear"></div>
                    </div>

                    <div class="goods_list" style="display: none">
                        <div class="golist_title">
                            <ul>
                                <li class="recommendlike 14 false" style="display: none">猜你喜欢</li>
                                <li class="current lastfavor" style="display: none">最近收藏</li>

                                <div class="clear"></div>
                            </ul>
                        </div>
                        <div class="golist_all"></div>
                    </div>

                    <script type="text/javascript">setcart_mahout_request();// 加载猜你喜欢、最近收藏</script>


                    <script type="text/javascript">confinedArea();</script>


                </div>

            </div>
{#            <div class="ordercont_content" data-first="y" style="display:none"></div>#}
{#            <div class="ordercont_content" data-first="y" style="display:none"></div>#}
{#            <div class="ordercont_content" data-first="y" style="display:none"></div>#}
{#            <div class="ordercont_content" data-first="y" style="display:none"></div>#}
{#            <div class="ordercont_content" data-first="y" style="display:none"></div>#}
{#            <div class="ordercont_content" data-first="y" style="display:none"></div>#}
        </div>
    </div>
    <script type="text/javascript">initCartItemsEvents();</script>
</div>



<link rel="stylesheet" type="text/css" href="/static/cart/css/simplebottom.css"/>
<div class="success-footer w">
    <p>
        <div class="beian">
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102000458">

                <img src="/static/cart/picture/beian.png"/>
    <p style="color:#606060;">京公网安备 11010102000458号</p>
    </a>
</div>
<span>|</span> 京ICP备 13003995号 <span>|</span> 营业执照（统一社会信用代码）91110000055590239L <span>|</span>
食品经营许可证：JY11105020028185</p>
<p class="copyright">Copyright&#169;2009-2018 womai.com.hk 版权所有</p>
</div>

<img src="/static/cart/picture/387bbc9e1ae743778d061a45ae55876d.gif"
     style="display:none;width:0;height:0;margin:0;padding:0;border:0;"></body>
</html>


{#<script type="text/javascript" src="/static/cart/js/jquery.cookie.js"></script>#}
{#<script type="text/javascript" src="/static/cart/js/userinfo.js"></script>#}
